#main {
    width: 1080px;
    height: 600px;
    margin: auto;
}

#canvasContainer {
  position: relative;
}

#textCanvas {
  position: absolute;
  top: 0;
  left: 0;
}

#textCanvas {
  pointer-events: none;
}

button {
    margin-top: 16px;
    font-size: medium;
}

body {
  background: #F0F0F0;
}
