#canvasContainer {
  position: relative;
  width: 1080px;
  height: 600px;
  margin: auto;
}

#webglCanvas, #textCanvas {
  position: absolute;
  top: 0;
  left: 0;
}

#textCanvas {
  pointer-events: none;
}

body {
  background: #F8F8F8;
}
